 <div class="d-flex justify-content-end">
    <%= link_to "Add recipe", "recipes/new", class: "btn btn-success"%>
  </div>
<% if @recipes.any? %>
  <ul class="container">
    <% @recipes.each do |recipe| %>
      <%= render partial: "shared/recipe_card", locals: {recipe: recipe} %>
    <% end %>
  </ul>
<% else %>
  <div class="card mt-4">
    <div class="card-body">
      <p class="card-text">You don't have any recipes.</p>
    </div>
  </div>
<% end %>
