<li class="card mt-4 bg-light">
  <div class="card-body">
    <h3 class="card-title">
      <%= link_to recipe.name, recipe_path(recipe.id), class:"text-decoration-none" %>
    </h3>
    <p class="card-text"><%= truncate(recipe.description, length: 70, separator: ' ') %></p>
    <%= button_to "Delete", recipe_path(recipe.id), method: :delete, class: "btn border-danger text-danger"%>
  </div>
</li>
